#eventSidebar {
    h2:first-child  {
        margin-bottom:10px;
    }
}
.add-to-calendar span{
    display:none;
}
.add-to-calendar{
    padding-top:20px;
    display:block;
    }
    .events
    {
        h2.eventdateHeader{
        background-color: #6F6E6E;
        margin-bottom:0 !important;
        height: 60px;
        font-size: 1em;
        padding: 10px;
        box-sizing: border-box;
        color: #fff;
        }
        .event{
            border-left: 8px solid $burgundy;
            padding: 5px 15px 15px 15px;
            box-sizing: border-box;
            border-bottom: 1px solid #B9B9B9;
            &.scrutiny
            {
                border-left-color: $blue;
            }
            h3{
                font-size: 18px;
                font-weight: 800;
            }
            .eventtime,.eventlocation
            {
                display: block;
                font-size: 16px;
            }
            .add-to-calendar,.agendaLink
            {
                padding-top:20px;
                display:block;
                span{
                    display:none;
                }
                }
            
        }

        .eventproplist
        {
            padding:0;
            margin:0;
            .showmore{
                color:#9e132c;
                padding-top:10px;
                cursor:pointer;
                display:inline-block;
            }
            .showmore:before
            {
                height:50px;
                float:left;
                content:"\f055";
                font-size:20px;
                font-family:FontAwesome;
                padding:0 10px 0 0;
            }
            .showmore.show:before
            {
                content:"\f056";
            }
        }
        .eventprop .eventtitle
        {
            margin-top:20px;
        }
        .eventpropitem
        {
            list-style:none;
            display:block;
            clear:both;
            border-bottom:1px solid #ccc;
            padding:10px 0;
            padding-left:30px;
            position:relative;
            a.pdf:before
        {
            top:12px;
            left:0;
            position:absolute;
        }
        }
      
    }

    #CalendarControl
    {
        .btn{
            height: 44px;
            width: 80px;
            border: 1px solid #6F6E6E;
            border-radius: 3px;
            background-color:#fff;
            color:#6F6E6E;
            text-align:center;
            box-sizing:border-box;
            padding:5px 10px;
            }
        select{
            height: 44px;
            border: 1px solid #6F6E6E;
            border-radius: 3px;
            color:#6F6E6E;
            padding:0 0 0 10px;
            font-size:18px;
            }
            #CalendarDay 
            {
                border-radius:3px 0 0 3px;
            }
            #CalendarMonth
            {
                border-radius: 0 3px 3px 0;
            }
            #CalendarDayMonth 
            {
                text-align:center;
            }
            #CalendarToday .btn{
                border-color:#9E132C;
                color:#9E132C;
            }
            #CalendarToday .btn.active{
                background-color: #6F6E6E;
                border-width:0;
                cursor:default;
                color:#fff;
            }
            #CalendarDayMonth .btn.active{
                background-color: #6F6E6E;
                cursor:default;
                color:#fff;
            }
            #CalendarCategory
            {
                text-align:right;
            }

            .ccontrol
            {
                display:inline-block;
             }
             #CalendarCategory
             {
                 float:right;
             }
             #CalendarDayMonth
            {
                padding-left:18%;
            }

             @media screen and (max-width:480px) {
                #CalendarDayMonth
                {
                    float:right;
                    padding-left:0;
                    
                }
                #CalendarCategory
                {
                    margin-top:10px;
                }
             }
            
    } 
    #EventsControl
        {
            background-color:#f1edea;
            text-align:center;
            margin-top:20px;
            height:64px;
            position:relative;
            @media screen and (max-width:480px) {
                margin-top:60px;
            }
            h2{
                font-size:1em;
                line-height:64px;
            }
            #EventsdateMonth
            {
                display:none;
            }
            .next, .pre
        {
            text-decoration:none;
            position:absolute;
            display:none;
        }
    }
.control-frame .btnpre,.control-frame .btnnext
{
    text-decoration:none;
    position:absolute;
}
#EventsControl .pre,.control-frame .btnpre
{
    left:0;
    top:0;
}
#EventsControl .next,.control-frame .btnnext
{
    right:0;
    top:0;
}
#EventsControl .pre:after,.control-frame .btnpre:after{
    line-height:64px;
    float:left;
    content:"\f053";
    font-size:20px;
    font-family:FontAwesome;
    padding-left:10px;
}
#EventsControl .next:after,.control-frame .btnnext:after{
    line-height:64px;
    float:left;
    content:"\f054";
    font-size:20px;
    font-family:FontAwesome;
    padding-right:10px;
}
#today,#month,#year,#day{
    display:none;
}
        
.pb-calendar 
{
            .schedule-dot-item{
            cursor:pointer;
            &.assembly{
                background-color: #9e132c;
            }
            &.scrutiny{
                background-color: #486b94;
                 }
            &.other{
                background-color: black;
            }
            .isDisabled {
                pointer-events: none;
                cursor:default;
                }
        }
            
}