
.pdfDownload {
    padding-left:10px;
    font-size:30px;
}
aside#contentSidebar .navbox#sticky {
    overflow: scroll;
    padding-bottom:40px;
    @media only screen and (max-width: 1280px) {
        display: none;
    }
    } 
#mobileContents {
    display:none;
    font-size:16px;
    padding-top:10px;
    @media only screen and (max-width: 1280px) {
        display:block;
    }
    label{font-weight:700;font-size:22px;}
    select {
            font-size: 18px;
            width: 100%;
            height: 35px;
            padding: 5px;
            border: 1px solid #392f2b;
            border-radius: 3px;        
    }
}
#bodycontentDocument {
    table {
        margin: 10px 0px 10px 0px;
        padding: 0px;
        border-collapse: collapse;
        width: 100%;
    }

    table thead th {
        padding: 5px;
        background: $burgundy;
        color: $white;
        font-weight: bold;
        text-align: left;
        border: solid 1px #E0E0E0;
    }
    
    table thead th {
        padding: 5px;
        background-color: $lightGrey;
        color: $darkGrey;
        font-weight: bold;
        text-align: left;
        border: solid 1px #E0E0E0;
    }
    
    table tbody td{
        border: solid 1px #E0E0E0;
        vertical-align: top;
        padding: 5px;
       
    }
    #mddocument {
        .decision>div>
        {p:first-child,p:nth-child(2),p:nth-child(3),p:nth-child(4),p:nth-child(5){
            display: none;
        }
    }
        h3 {
            margin-top:30px;
            margin-bottom:15px;
        }
        tr:first-child td {
            padding: 5px;
            background-color: #F1EDEA;
            color: #6F6E6E;
            font-weight: bold;
            text-align: left;
            border: solid 1px #E0E0E0;
        }

        td{
            &:nth-child(even){
                display:none;
            }
        }
    }
    table tbody th {
        border: solid 1px #E0E0E0;
        background-color: $burgundy;
        color: $white;
        vertical-align: top;
        padding: 5px;
        text-align: left;
    }
    table tbody th {
        border: solid 1px #E0E0E0;
        background-color: $lightGrey;
        color: $darkGrey;
        vertical-align: top;
        padding: 5px;
        text-align: left;
    }
    
    table th.govstyleTableFirstCol-default,
    table th.govstyleTableFooterFirstCol-default,
    table .govstyleTableFooterRow-default {
        background-color: $lightGrey;
        color: $darkGrey;
    }
    
    table.govstyleTable-default td.highlight, 
    table.govstyleTable-alignRight td.highlight
    {
        background-color: $lightGrey;
    }
    
    /* Scrollable table styling */
    
    .scrollable.has-scroll {
        position: relative;
        overflow: hidden;
        /* Clips the shadow created with the pseudo-element in the next rule. Not necessary for the actual scrolling. */
        clear: left;
        width: 100%;
    }
    
    .scrollable.has-scroll:after {
        position: absolute;
        top: 0;
        left: 100%;
        width: 50px;
        height: 100%;
        border-radius: 10px 0 0 10px / 50% 0 0 50%;
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
        content: '';
    }
    
    
    /* This is the element whose content will be scrolled if necessary */
    
    .scrollable.has-scroll>div {
        overflow-x: auto;
    }
    
    
    /* Style the scrollbar to make it visible in iOS, Android and OS X WebKit browsers (where user preferences can make scrollbars invisible until you actually scroll) */
    
    .scrollable>div::-webkit-scrollbar {
        height: 12px;
    }
    
    .scrollable>div::-webkit-scrollbar-track {
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
        background: #f0f0f0;
    }
    
    .scrollable>div::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: #ccc;
    }
    
    .scrollable .fixed-column {
        display: none;
    }    
}
aside#contentSidebar
{
    .navbox{
        #ToC
        { 
            a {
            font-size: 16px;
            font-weight: normal;

        &.active{
            text-decoration:none;
            cursor:default;
            font-weight:700;
            color:#9e132c;
            &:focus{
            color:#fff;
            }
            }
        }
    }                                               
        }
}