section#homepageSearch {
    background-image: url("https://sojfilestore.blob.core.windows.net/govje/StatesAssembly/images/sa-header-image.jpg"); 
    background-repeat: no-repeat;
    background-position: right;
    background-color:#81bbe6;   
    height:210px;
    width: auto;
    padding: 10px;
    position: relative;
    margin-left:auto;
    margin-right:auto;   
    @media (max-width:558px)
    { 
        background-position: center;
        zoom:80%;
    }    
    #searchBox {
        height: 70px;
        width: 100%;	
        width:auto;
        opacity: 0.95;	
        border-radius: 6px;	
        background-color: $lightGrey;	
        box-shadow: 0 0 40px 0 rgba(57,47,43,0.4);
        padding-top:20px;
        text-align: center;
        position: relative;
        top: 50%;
        margin: -45px 20% 0 20%;
        @media (max-width:1280px)
        { 
            margin: -45px 10% 0 10%;
        }
        @media (max-width:785px)
        { 
            margin: -45px 5% 0 5%;            
        }
        @media (max-width:558px)
        { 
            display:none;
        }    
        label {
            color: #392F2B;	
            font-size: 20px;	
            font-weight: 600;	
            line-height: 27px;
            margin-right:10px;
        }
        #queryBox {
            height: 44px;	
            max-width: 511px;	
            width:100%;
            display: inline-block;
            border: 1px solid $mediumGrey;	
            border-radius: 3px;	
            background-color: $white;	
            vertical-align: middle;
            font-size: 20px;	
            padding-left:5px;
            margin-right:5px;
            &:focus{
                box-shadow: 0px 0px 8px $purple;
                border:2px solid $purple;
            }
            @media (max-width:1275px)
            { 
                width:60%;
            }            
            @media (max-width:785px)
            { 
                width:50%;
            }    
        }
        #searchButton {
            height: 49px;	
            width: 53px;	
            border-radius: 3px;	
            background-color: $burgundy;	
            vertical-align: middle;
            cursor: pointer;
            &:focus{
                background-color: $purple;
            }
            i {
                color: $white;
                font-size:25pt;
            }
            &:hover {
                background:darken($burgundy, 9%);
            }
        }
    }
}

section.homepageNews {
    background-color:$lightGrey;
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom:50px;
    .gel-layout__item {
        margin-bottom:20px;
    }
    h1 {
        margin-top:0;
        color: $black;
        font-size: 24px;	
        font-weight: 600;	
        line-height: 33px;
    }
    a {
        background-color:#fff;
    }
    .newsBorder {
        background-color:#fff;
        padding-bottom:5px;
    }
    h3 {
        font-size: 18px !important;	
        font-weight: 600 !important;	
        line-height: 24px !important;
    }
    #viewMoreNews {
        background-color:$lightGrey;
        height: 26px;	
        width: 227px;	
        color: $burgundy;	
        font-size: 18px;	
        font-weight: 600;	
        line-height: 24px;
        text-decoration: underline;
        margin-bottom:0;
        padding-left:0;
        &:hover {
            color:$black;
        }
        &:focus {
            background-color: $purple;
            color: $white;
        }
    }
}

Section#homepageMeeting {
    padding: 30px;
    @media (max-width:1005px) {
        padding:0;
        .gel-wrap
        {
            padding:0;
        }
        .gel-layout__item:first-child
        {
            background-color: $lightGrey;
            padding: 20px 30px;
            font-size:24px;
            line-height:1.5em;
            text-align: center;
            span{
                font-size:24px;
                line-height:1.5em;
                text-align: center;
            }
        }
    }
    
    .right {
        text-align: right;
        @media only screen and (max-width: 1275px) {
            margin-top: 20px;
            text-align: center;
        }
    }
    a.meetingdetails{
        color:$black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    span {
        font-size: 36px;	
        font-weight: 600;	
        line-height: 46px;
        margin-top: 15px;
        display: block;
        a{
            display: block;
            font-size:18px;
            line-height:24px;
        }
    }
    .allMeeting{
        margin-top:30px;
        @media only screen and (max-width:1275px) {
            text-align: center;
            margin-top:0;
            margin-bottom:20px;
        }
        a{ text-decoration: underline;
            font-weight: 600;
        }
    }
    a.pdfLink {
        @extend .btn;
        background-color: $burgundy;
        color: $white;
        margin-bottom: 15px;
        height: 75px;	
        max-width: 317px;
        width:100%;
        padding-top: 35px;
        font-size: 20px;	
        font-weight: 600;	
        line-height: 27px;
        margin-right:10px;
        @media (max-width: $screen-desktop){
            max-width: 300px;
        }
        @media (max-width: 785px) {
            width:48%;
            max-width: 180px;
            margin:0;
            font-weight: normal;
            box-sizing:border-box;
            height:140px;
            padding:30px 10px;
            white-space: normal;
            font-size: 16px;
            line-height: 20px;
            margin-right:2.5%; 
            margin-bottom:20px;
        }
        &:before {
            content: "\f1c1";
            font-family: FontAwesome;
            font-size: 45px;
            margin-right: 20px;
            position: relative;
            top: 5px;
            @media (max-width:785px) {
               width:100%;
               display: block;
               font-size: 35px;
               top:0;
               font-weight: normal;
               height:40px;
            }
        }
        
        &:active,
        &:hover {
            background: darken($burgundy, 9%);
        }
        &:focus
        {
            background-color: $purple;
        }
        &.disable
        {
            background-color: #bbb;
            color: #333;
            border: 1px #aaa solid;
        }
    }
    .openmore{
        display: block;
        margin: -10px 15px 10px;
        background-color: #fff;
        padding: 10px;
        font-size: 16px;
        border:1px solid #bbb;
        position: absolute;
        z-index: 2;
        text-align: left;
        &:after,&:before{
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: #bbb;
            border-width: 12px;
            margin-left: -12px;
        }
    }
    a.documentLink {
        @extend .btn;
        background-color: $burgundy;
        color: $white !important;
        margin-bottom: 15px;
        height: 75px;	
        max-width: 317px;
        @media (max-width: $screen-desktop){
            max-width: 300px;
        }
        width:100%;
        padding-top: 35px;
        font-size: 20px;	
        font-weight: 600;	
        line-height: 27px;
        @media (max-width:785px) {
            width:48%;
            max-width: 180px;
            margin:0;
            font-weight: normal;
            box-sizing:border-box;
            height:140px;
            padding:30px 10px;
            white-space: normal;
            font-size: 16px;
            line-height: 20px;
            margin-bottom:20px;
        }
        &:before {
            content: "\f0f6";
            font-family: FontAwesome;
            font-size: 45px;
            margin-right: 20px;
            position: relative;
            top: 5px;
            @media (max-width:785px) {
                width:100%;
                display: block;
                font-size: 35px;
                top:0;
                font-weight: normal;
                height:40px;
             }
        }
        &:active,
        &:hover {
            background: darken($burgundy, 9%);
        }
        &:focus
        {
            background-color: $purple;
        }
    }
}

#RenderQuicklinks {
    margin-top:20px;
    ul {
        list-style-type: none;
        padding-left:0;
        li {
            margin-top:10px;
        }
      }      
}