#currentReviewStats {
    margin: 50px 0 50px 0;
    .count {
        color: $black;
        font-size: 48px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;
    }
    h4 {
        font-size: 18px; 
    }
}

#watchScrutiny {
    h2 {
        font-size: 29px;
        line-height: 35px;
        margin-bottom: 11px;
        @media only screen and (min-width: 400px){             
            margin-top: 20px;
        } 
    }
    p:last-of-type {
        margin-top: 20px;
    }
}

#latestNews,
#scrutinyReviews{ 
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
    }
    p {
        margin-top: -7px;
        margin-bottom: 24px;
        font-size: 16px;
    }
    img {
        max-width:100%;
        height: auto;
    }
}

#latestNews>div>h4,
#scrutinyReviews > h4 {
    font-size: 18px;
}

.landing aside#contentSidebar .navbox,
.landing aside#contentSidebarDesktop .navbox,
.landing aside#contentSidebarMobile .navbox {
    background-color: transparent;
    padding:0 0;
    h1 {
        color: $black;
        font-size: 24px;
    }
    a { 
        color: $burgundy;
    }
}

.bodycontent {
    .contentHighlightRed {
        background-color: $burgundy;
        padding: 20px 15px 20px 30px;
        margin-bottom: 15px;
        margin-top: 50px;
        p {
            margin-bottom: 0;
            color: $white;
            font-size: 18px;
            a {
                color: $white;
                [href^=tel] {
                    text-decoration: none;
                }
            }
        }
        h2 {
            font-size: 28px;
            line-height: 24px;
            margin-bottom: 15px;
            color: $white;
        }
    }
}