#currentReviewStats {
    margin: 50px 0 50px 0;
    .count {
        color: $black;
        font-size: 48px;
        font-weight: 600;
        line-height: 65px;
        text-align: center;    
        span {
            display: inline-block;
            min-width: 83px;
            @media only screen and (max-width: $screen-tablet) {
                display: block;
            }
        }    
        div.linkText {
            margin-left:15px;
            display: inline-block;
            height:100%;
            vertical-align: text-top;
            text-align: left;
            h4 {
                font-size: 18px;
            }    
        }    
    }
}

#watchScrutiny {
    h2 {
        font-size: 29px;
        line-height: 35px; 
        margin-bottom: 11px;
        @media only screen and (max-width: 600px) {
            margin-top: 20px;
        }
    }
    p:last-of-type { 
        margin-top: 20px;
    }
}

#scrutinyReviews {

    margin-bottom:20px;
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top:0;
    }
    h4.viewall
    {
        margin-top: -10px;
        a {
            text-decoration: underline;
        }
    }
    a {            
        text-decoration: none;
        
        h4 { 
            font-size: 16px;
            font-weight: normal;
            line-height: 22px;
            color:$burgundy;
            text-decoration: underline;
            display: block;
        }
        p {
            margin-bottom: 24px;
            font-size: 16px;
            color:$black;
            text-decoration: none;
            display: inline-block;
        }
        img {
            max-width: 100%;
            height: auto;
            
        }
        &:hover {
            color:$black !important;
        }
        &:focus{
            background-color: $purple;
            color: $white;
            display: block;
            h4,p {
                background-color: $purple;
                color: $white;
            };
        }
        
    }
}

#latestNews>div>h4,
#scrutinyReviews>h4 {
    font-size: 18px;
    
} 

.landing aside#contentSidebar .navbox,
.landing aside#contentSidebarDesktop .navbox,
.landing aside#contentSidebarMobile .navbox {
    background-color: transparent;
    padding: 0 0;
    h1 {
        color: $black;
        font-size: 24px;
    }
    a {
        color: $burgundy;
    } 
}

.bodycontent {
    .contentHighlightRed {
        background-color: $burgundy;
        padding: 20px 18px 20px 30px;
        margin-bottom: 15px;
        margin-top: 30px;
        p {
            margin-bottom: 0;
            color: $white;
            font-size: 16px;
            line-height: 24px;
            &.first-child
            {
                margin-bottom: 20px;
            }
            a {
                color: $white;
                [href^=tel] {
                    text-decoration: none;
                }
            }
        }
        h2 {
            font-size: 28px;
            line-height: 24px;
            margin-bottom: 15px;
            color: $white;
        }
    }
}

Section#AssemblyMeeting {
    background-color: #F1EDEA;
    padding: 30px;
    margin-bottom: 30px;
    @media (max-width: 785px) {
        margin:0 -15px 30px;
        padding:15px;
    }
    .right {
        text-align: right;
        @media only screen and (max-width: 1007px) {
            text-align: center;
        }
        a{
            text-decoration: none;
            @extend .btn;  
            box-sizing: border-box;
            height: 65px;
            line-height: 24px;
            vertical-align: top;
            width:250px;
            margin-right: 15px;
            &:focus,
            &:active,
            &:hover {
                background: darken($burgundy, 9%);
            }
        }
    }
    span {
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
        display: block;
    }
    
    a.meetingdetails {
        color:$burgundy;
        text-decoration:underline;
        text-align: left;
        margin-right: 40px;
        color:$black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        
        }
    a.pdf {
        @extend .btn;
        
        margin-bottom: 15px;
        &:before {
            content: "\f1c1";
            font-family: FontAwesome;
            font-size: 18px;
            margin-right: 10px;
        }
       
    }
    a.pdfLink {
      padding-top:15px;
      margin-bottom: 15px;
      @media (max-width: $screen-desktop){
        max-width: 300px;
        }
        @media (max-width: 785px) {
            width:48%;
            max-width: 180px;
            margin:0;
            font-weight: normal;
            box-sizing:border-box;
            height:140px;
            padding:30px 10px;
            white-space: normal;
            font-size: 16px;
            line-height: 20px;
            margin-right:2.5%; 
            margin-bottom:20px;
        }
        &:before {
            content: "\f1c1";
            font-family: FontAwesome;
            font-size: 35px;
            margin-right: 20px;
            position: relative;
            top: 5px;
            @media (max-width:785px) {
                width:100%;
                display: block;
                font-size: 35px;
                top:0;
                font-weight: normal;
                height:40px;
             }
        }
       &:focus{
            background-color: $purple;
            color: $white;
       }
       &.disable
        {
            background-color: #bbb;
            color: #333;
            border: 1px #aaa solid;
        }
    }
    .openmore{
        display: block;
        margin: -10px 15px 10px;
        background-color: #fff;
        padding: 10px;
        font-size: 16px;
        border:1px solid #bbb;
        position: absolute;
        z-index: 2;
        text-align: left;
        &:after,&:before{
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px;
        }
        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-bottom-color: #bbb;
            border-width: 12px;
            margin-left: -12px;
        }
    }
    
    a.documentLink {
        padding-top:15px;  
        @media (max-width: $screen-desktop){
            max-width: 300px;
        }
        @media (max-width:785px) {
            width:48%;
            max-width: 180px;
            margin:0;
            font-weight: normal;
            box-sizing:border-box;
            height:140px;
            padding:30px 20px;
            white-space: normal;
            font-size: 16px;
            line-height: 20px;
            margin-bottom:20px;
        }
        &:before {
            content: "\f0f6";
            font-family: FontAwesome;
            font-size: 35px;
            margin-right: 20px;
            position: relative;
            top: 5px;
            @media (max-width:785px) {
                width:100%;
                display: block;
                font-size: 35px;
                top:0;
                font-weight: normal;
                height:40px;
             }
        }
        &:focus{
            background-color: $purple;
            color: $white;
       }
       
    }
    .allMeeting{
        text-align: left;
        padding-right:20px;
        font-weight: 600;
        display: block;
        @media only screen and (max-width: $screen-desktop) {
            text-align:center;
            padding-right:0;
            margin-top:20px;
        }
        a{
            background-color: transparent;
            color:$burgundy;
            padding:0;
            margin:0;
            height:auto;
            width:auto;
            border:0;
            text-decoration: underline;

        }

    }

}

#landingSearch {
    .searchBox {
        border-left: 8px solid $burgundy;
        background-color: $lightGrey;
        padding: 20px;
        position: relative;
        margin-bottom: 20px;
        width:100%; 
        box-sizing: border-box;
        h1 {
            color: $black; 
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 600;
            line-height: 33px;
        }
        li{
            &:before {
                content: "" !important;
            }    
        }
    }
}