#newsWrapper
{
    @media only screen and (min-width: 600px) {
    position:relative;
    }
}
#newsContent
{
     @media only screen and (min-width: 600px) {
       margin-left: 33.33%;
    }
    img{
        max-width: 656px;
    }
    .newscontentdate
    {
        font-size: 20px;
        font-weight: bold;
        margin:1em 0;
    }
}
#newslanding, #latestNews
{
    a{
        text-decoration: none;
        .newsdate
        {
            color:$black;
        }

        img {
            border:0px;
        }
    }
    a:hover h3{
         text-decoration: underline;
    }
    img{
        max-width: 100%;
	    background:#000;
        &:hover{
            opacity: 0.95;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;    
        }
        
    }

    .newsBorder{
        border-style: solid;   
        padding-left: 10px;
        border-width: 0 0 0 8px; 
    }
   
   .gel-layout__item {
       margin-bottom: 1em;
        &.statesassembly{
             .newscategory
            {
                color:$burgundy;
            }
            img,.newsBorder{
                border-color:$burgundy;
            }
        }
        &.scrutiny{
               .newscategory
            {
                color:$blue;
            }
            img,.newsBorder{
                border-color:$blue;
            }
        }
   }
   #NewHighlight
   {
         @media all and (min-width:37.5em){
            margin-bottom: 1em;
         }
   }
   #newslist{
    @media all and (min-width:37.5em){
    
    h3{font-size:20px;}
    }
   }
}