.panelBox {
    background-color: $burgundy;
    height: 150px;
    border-bottom: $white 15px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        font-size: 20px;
        color: $white;
        font-weight: $bold;
        line-height: 27px;
        text-align: center;
        padding: 0 26px; 
    }
    a {
        color: $white;
        text-decoration: none;
    }
}

.contentHighlight.noBorder {
    border: none;
}

#reviewPanels {
    margin-top: 49px;
    >div {
        margin-top: 20px;
    }
    h4{
        margin-bottom: 24px;
        font-size:16px;
        line-height: 22px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.noNavbox .navbox {
    display: none;
}

#chairmanCommittee {
    margin-top: 30px;
    p {
        font-size: 18px;
        line-height: 28px;
    }
    a {
        text-decoration: underline;
    }
}