section#reportDetail {
    img {
        width:100%;
    }
    .pageTitle {
        margin-bottom:5px;
    }
    .reviewSubheader {
        margin-bottom:10px;
    }
    #reportDate {
        margin-top:0;
        span {
            font-weight: $bold;
        }
    }
    #reportStatus {
        font-weight: $bold;        
        font-size: 24px; 
        span {
            color:$burgundy;
            display: block;
        }
    }
}
section#reviewDocument {
    margin-bottom:20px;
    ul {  
        padding-left: 0;
        li {
            padding-left: 0;
            //padding-bottom: 23px;
            text-indent: 0;
            &:before {
                content: none;
            }
            &:last-child {
                padding-bottom:0;
            }
        }
    }
    hr {
        border-top: 4px solid $burgundy;
        margin-top:23px;
        line-height:0;
        margin-bottom:17px;
    }
}

.scrutinyReviewSidebar, .committeedetails {
    .profile {
        margin-bottom:25px;
    h2 {
        font-weight: $semiBold;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    img {
        display: inline-block;
        max-width: 122px;
        max-height: 160px;
        overflow: hidden;   
        border-style: none;
    }
    div.details {
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        width: 150px;
        @media only screen and (max-width: 1280px) {
            padding-left: 0;
            width: 100%;
        }
        @media only screen and (max-width: 900px) {
            padding-left: 15px;
            width: 50%;
        }
    }
    .title {
        color: $black;
        &:focus {
            color: white;
        }
    }

    a {
        font-weight: $semiBold;
    }

    a.title {
        font-weight: $bold;
    }
    .js-search-item {
        margin-bottom: 20px;
    }
}
}