#currentReviews,
#panelPublications {
    margin-top: 38px;
    h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    h4 {
        font-size: 16px;
        line-height: 22px;
    }
    >h4 {
        font-size: 18px;
        line-height: 28px;
        margin-top: 25px;
        margin-bottom: 20px;
        font-weight: $semiBold;
    }
    img {
        max-width:100%;
        height: auto;
    }
}

#panelPublications {
    margin: 5px 0px 38px 0px;
    h2 {
        margin-bottom: 10px;
    }
    >h4 {
        font-size: 18px;
        line-height: 28px;
    }
}

#panelTranscripts {
    margin: 5px 0px 38px 0px;
    h2 {
        margin-bottom: 10px;
    }
}

#panelMeetingMinutes {
    margin: 5px 0px 38px 0px;
    h2 {
        margin-bottom: 10px;
    }
}

#panelNextMeeting {
    margin-top: 55px;
    p {
        font-size: 20px;
        line-height: 34px;
        padding-right: 40px;
        margin-bottom: 38px;
    }
    .button {
        height: 80px;
        width: 250px;
        background-color: $burgundy;
        margin: 10px 0 10px 0;
        line-height: 60px;
        padding: 10px;
        a {
            color: $white;
            font-size: 20px;
            font-weight: $bold;
            line-height: 65px;
            text-decoration: none;
            margin-left:15px;
            vertical-align: top;
        }
        i.pdf {
            &:before {
                content: "\f1c1";
                font-family: FontAwesome;    
                font-size: 38px;
                padding: 0 10px 0 0;
                font-weight: normal;
                text-align: left;
                line-height: 60px;
                color: $white;
                font-style: normal;
                margin-left: 15px;
            }
        }
        i.calendar {
            &:before {
                content: "\f073";
                font-family: FontAwesome;
                font-size: 38px;
                padding: 0 10px 0 0;
                font-weight: normal;
                text-align: left;
                line-height: 60px;
                color: $white;
                font-style: normal;
                margin-left: 15px;
            }
        }
    }
    .day {
        margin-top: 36px;
        height: 42px;
        width: 451px;
        color: $black;
        font-size: 30px;
        font-weight: $semiBold;
        line-height: 42px;
    }
}

#panelDetail {
    hr {
        border-top: 4px solid $burgundy;
        margin-top: 23px;
        line-height: 0;
        margin-bottom: 17px;
    }
    ul li {
        font-size: 18px;
        line-height: 28px;
    }
    .readMore {
        margin-top: 13px;
        font-weight: $semiBold;
        line-height: 28px;
    }
}