#landingPageLinks {
    h2 {
        font-size: 20px;
        font-weight: $semiBold;
        line-height: 30px;
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        line-height: 26px;
        display: block;
        padding-right:10px;
    }
    >div {
        border-left: 4px solid $mediumGrey;
        margin-bottom:20px;
    }
    margin:46px 19px 0px 0;
    padding-left:0;
}

#column_right {
    display: none;
}