.votingitem
{
    .top{
            .header,.details
            {
                float:left;
            }
            .header
            {
                width:120px;
                clear:left;
            }
            .details
            {
                clear:right;
            }
        }
         .row:nth-child(even)
            {
                background-color: $lightGrey
            }
            .row{
                padding:5px 0;
                .position{
                    width:100px;display:inline-block;margin-right:20px;padding-left:20px;box-sizing: border-box;
                    @media only screen and (max-width: 600px) {
                        font-size:14px;
                        display:block;
                    }
                }
                .member{width:360px;display:inline-block;margin-right:20px;padding-left:20px;box-sizing: border-box;
                  @media only screen and (max-width: 900px) {
                      width:340px;
                  }
                    @media only screen and (max-width: 600px) {
                        display:block;
                    }
                }
                .result{width:200px;display:inline-block;margin-right:20px;padding-left:20px;box-sizing: border-box;
                    @media only screen and (max-width: 600px) {
                        display:block;
                        font-weight: 600;
                    }
                }

            }
    &.single
    {
        .header
            {
                width:120px;
                clear:left;
                padding-bottom:10px;
            }
            .details
            {
                font-weight: 600;
                 padding-bottom:10px;
            }
           

    }
}
#chartheader{
    margin-bottom:20px;
    margin-top:25px;
    display: block;
}
.votinglist
{
    .item
    {
        padding: 20px 0;
        border-bottom: 1px solid $black;
        .title , .header
        {
            width:200px;
            display: inline-block;
             @media only screen and (max-width: 600px) {
               display:block;
             }
        }
        .title
        {
             @media only screen and (max-width: 600px) {
               display:none;
             }
        }
        .details{
            width:calc(100% - 220px);
            display: inline-block;
            font-weight: 600;
             @media only screen and (max-width: 600px) {
                display:block;
                margin: 10px 0;
                width:100%;
             }
        }
    }
    h2{
          @media only screen and (max-width: 600px) {
                display:none;
             }
    }
}
#pnlVoteSort
{
    border-top:solid 5px $burgundy;
    background-color:$lightGrey;
    padding:0 20px;
    margin-top:50px;
    .curritemDocument
    {
        margin:15px 10px 15px 0;
    }
    .ddlist
    {
        display: none;
        select{
            padding: 0 0 0 10px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 18px;
            width: 65%;
            border: 1px solid #392F2B;
            border-radius: 3px;
            background-color: #FFFFFF;
            height: 30px;
            @media only screen and (max-width: 600px) {
                width:calc(100% - 70px)
            }
         }
    }
    @media only screen and (max-width: 600px) {
        .curritemDocument,.itemDocument
        {
           display:none; 

        }
        .ddlist
        {
            display: block;
        }
    }

}