footer {
    background-color: $darkGrey;
    color:$white;
    .gel-layout__item {
        padding-top: 10px;
        padding-bottom: 10px;     
        
        i{
            font-size: 20px;
        }
    }

    a {
        color:$white;
        text-decoration: none;
        &:hover {
            color:$white;
            text-decoration: underline;                
        }
    }
}


.back-to-top {
    position: fixed;
    top: 0;
    right: 20px !important;
    text-decoration: none;
    background-color: $burgundy !important;
    color: $white !important;
    font-size: 12px;
    padding: 1em;
    z-index: 100;
    display: none;
    &:hover {
        background-color: rgba(135, 135, 135, 0.50);
    } 
}