footer {
    background-color: $darkGrey;
    color:$white;
    .gel-layout__item {
        padding-top: 10px;
        padding-bottom: 10px;     
        .push-right
        {
            display: none;
            @media (max-width:$screen-phone) {
                display: block;
                i{
                    font-size: 32px;
                    padding-right:10px; 
                }
                .fa-youtube-square,.fa-instagram-square{
                    position:relative;
                    width:25px;
              }
              .fa-youtube-square:before {
                content: "";
                        background: url(/_layouts/15/images/C5.StatesAssembly/youtube.svg) no-repeat -3px -2px;
                        width: 29px;
                        height: 29px;
                        display: block;
                        background-size: 35px 35px;
                        position: absolute;
                        top: -26px;
                        left: -2px;
                        border-radius: 6px;
                        }
                        .fa-instagram-square:before{
                            content: "";
                            background: url(/_layouts/15/images/C5.StatesAssembly/instagram-grey.svg) no-repeat -3px -2.5px;
                            width: 29px;
                            height: 29px;
                            display: block;
                            background-size: 35px 35px;
                            position: absolute;
                            top: -26px;
                            left: -1px;
                            border-radius: 6px;
                            background-color: #fff;
        }
            }
        }
        
    }

    a {
        color:$white;
        text-decoration: none;
        &:hover {
            color:$white;
            text-decoration: underline;                
        }
    }
    ul{
        list-style: none; 
        padding: 0px; 
        display: inline;
        li{
            display: inline-block;
            margin-right: 20px;
            @media (max-width:$screen-phone) {
                display: block;
                margin-top: 15px;
            }
        }
    }
    .push-right
    {
        @media (max-width:$screen-tablet) {
            float:none;
            margin-top: 20px;
        }
    }
   
}


.back-to-top {
    position: fixed;
    top: 0;
    right: 20px !important;
    text-decoration: none;
    background-color: $burgundy !important;
    color: $white !important;
    font-size: 12px;
    padding: 1em;
    z-index: 100;
    display: none;
    &:hover {
        background-color: rgba(135, 135, 135, 0.50);
    } 
}
