footer {
    background-color: $darkGrey;
    color:$white;
    .gel-layout__item {
        padding-top: 10px;
        padding-bottom: 10px;     
        
        i{
            font-size: 1.5em;
            @media (max-width:$screen-phone) {
                font-size: 32px;
                padding-right:10px; 
            }
        }
    }

    a {
        color:$white;
        text-decoration: none;
        &:hover {
            color:$white;
            text-decoration: underline;                
        }
    }
    ul{
        list-style: none; 
        padding: 0px; 
        display: inline;
        li{
            display: inline-block;
            margin-right: 20px;
            @media (max-width:$screen-phone) {
                display: block;
                margin-top: 15px;
            }
        }
    }
    .push-right
    {
        @media (max-width:$screen-tablet) {
            float:none;
            margin-top: 20px;
        }
    }
   
}


.back-to-top {
    position: fixed;
    top: 0;
    right: 20px !important;
    text-decoration: none;
    background-color: $burgundy !important;
    color: $white !important;
    font-size: 12px;
    padding: 1em;
    z-index: 100;
    display: none;
    &:hover {
        background-color: rgba(135, 135, 135, 0.50);
    } 
}