    nav#mainMenu {
       /* border-bottom: 8px solid $darkGrey; */   
        margin-top: 15px;        
        min-height:34px;
        @media (max-width:$screen-tablet)
        {
                display:none;
                margin:0;
                position:relative;
                z-index:999;
                height:auto;
                .gel-wrap{
                    padding:0;
                }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: table;
        }
        ul>li {
            float: left;
            margin-bottom: 0px;
            margin-right: 10px;
            >a {
                margin-right: 0;
                line-height: 24px;
                color: $black;
                background: transparent;
                border-bottom: none;
                padding: 10px 15px;
                text-align: center;
                width: 147px;
                text-decoration: none;
                border-top-left-radius: 3px;        
                border-top-right-radius: 3px;       
                font-weight: 600;         
                &:hover {
                    color: $white;                
                }
            }
            &:hover >a,&.hover >a,&.current>a, &:focus >a,&.focus >a{
                background: $darkGrey;
                color: $white;
            }
            
        }
        

        ul#Navitems
        {
            ul{display:none;}
            @media (max-width:$screen-tablet)
            {
                width:100%;
                display:block;
                padding:0;
                margin:0;
            }

        
            li.hasChild  
            {
                position:relative;
                a.moreSection
                {
                    position:absolute;
                    width:35px;
                    top:0;
                    right:0;
                    display:block;
                    background-color:transparent;
                    padding:0;

                    &:after {
                        display:inline;
                        position: absolute;
                        font-family: "FontAwesome";
                        content: "\f078";
                        right: 10px;
                        top:0;
                        width:35px;
                        text-align:right;
                        background-color:transparent;
                    }
                }

                &.focus,&.hover,&:focus
                {
                    a.moreSection:after {
                        text-decoration:none;
                        color: $white;
                    }
                    ul
                    {
                        display:block;
                    }
               
                }
                &>a
                {
                padding:10px 40px 10px 25px;
                }
                ul{
                    background-color:#fff;
                    width: 320px;
                    z-index: 2;
                    display:none;
                    top:34px;
                    position:absolute;
                    left:-1px;
                    padding:0;
                    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.16);
                   /* border-top: 8px $darkGrey solid;*/
                    li{
                        width:100%;
                        display:block;
                        border-width:0 0 1px 0;
                        border-color:#E1E3E3;
                        border-style:solid;
                        padding:5px 0;
                        a{
                            background-color:transparent;
                            border:none;
                            width:100%;
                            font-size:16px;
                            display:block;
                            color:#9e132c;
                            padding:0 25px;
                            line-height: 27px;
                            text-align:left;
                            box-sizing: border-box;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        &:first-child{
                            a{
                                font-weight: 700;
                            }
                        }
                        &.current{
                            border-left:5px solid $darkGrey;
                            pointer-events: none;
                            cursor: default;
                            a{
                            color:$darkGrey;
                            padding-left:20px;
                            }
                        }
                    }
                }
            }
            @media (max-width:$screen-tablet)
            {
                li
                {
                    display:block;
                    width:100%;
                    border-bottom:1px solid #fff;
                    float: none;
                    a{
                        display:block;
                        width:100%;		
                        text-align:left;
                        border-radius:0;
                        box-sizing: border-box;
                        
                    }
                    &.hasChild 
                    {
                        box-sizing: border-box;
                        margin-right:0;
                        a{
                            padding:10px 15px;                                             
                            &.moreSection:after {
                                top:10px;
                            }
                        }
                        ul{
                            position:relative;
                            top:0;
                            width:100%;
                            li{
                                background-color:#fff;
                                }
                        }
                    }
                    
                }
            }
        }
        }
    /*Mobile navigation*/

.mobileMenu {
            display: none;
            width: 100%;
            height: 48px;
            color:$black;
            font-size: 18px;
            line-height: 45px;
            background-color:$lightGrey; 
            position: relative;
            #MobileMenu{
                    color:$black;
                    text-decoration: none;
                    font-weight: 800;
                    display: inline;
                    padding: 0 0 0 35px;
                    box-sizing: border-box;
                    font-size:14px;
                    text-align: center;
                    &:after {
                        display: inline;
                        position: absolute;
                        font-family: "FontAwesome";
                        content: "\f0c9";
                        left: 15px;
                        top: 0;
                        color:$black;
                        font-size: 24px;
                    }
                    &.open:after
                    {
                        content:"\f00d";
            
                    }
            
                    &hover:after {
                        background-color: #095AA2;
                    }
            }
            #MobileSearchbtn
            {
                    color:$black;
                    text-decoration: none;
                    font-weight: 800;
                    display: block;
                    padding: 0 35px 0 0 ;
                    box-sizing: border-box;
                    font-size:14px;
                    text-align: center;
                    float:right;
                    &:after {
                        display: inline;
                        position: absolute;
                        font-family: "FontAwesome";
                        content:"\f002";
                        right: 15px;
                        top: 0;
                        color:$black;
                        font-size: 24px;
                    }
                    &.open:after
                    {
                        content:"\f00d";
                    }
            
                    &hover:after {
                        background-color: #095AA2;
                    }
            
       
              }
    @media (max-width:$screen-tablet)
	{
		display:block;
		}
}
.main-menu .hidden
{
    display:none;
} 
.mobile-mega-menu{
    -webkit-transform:translate3d(-100%,0,0);
    -ms-transform:translate3d(-100%,0,0);
    transform:translate3d(-100%,0,0);
    -webkit-transition:all 250ms linear;
    transition:all 250ms linear;
    width:100%;
    height:100%;
    top:137px;
    bottom:0;
    left:0;
    position:absolute;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
    background:#FFF;
	z-index:99999;
    border-bottom: 8px solid #6F6E6E;
    
    a, div, li, ul{
        -webkit-box-sizing:content-box;
        box-sizing:content-box
    }
    &.open{
        -webkit-transform:translate3d(0,0,0);
        -ms-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        background:#FFF;
        @media screen and (min-width:800px)
        {
                display:none;
        }
    }
    .widget-region{
        background:#fff;
        padding:10px 20px;
        clear:both;
        -webkit-transform:translateZ(0)
    }
    nav{
        position:relative;
    }
    ul{
        -webkit-transition:all 250ms linear;
        transition:all 250ms linear;
        margin:0;
        padding:0;
        position:absolute;
        right:0;
        top:0;
        width:100%;
        -webkit-transform:translateZ(0);
        &.has-been-viewed{
            -webkit-transform:translate3d(-100%,0,0);
            -ms-transform:translate3d(-100%,0,0);
            transform:translate3d(-100%,0,0)
        }
        li
        {
            width: 100%;
            display: block;
            float:left;
            border-width: 0 0 1px 0;
            border-color: #e1e3e3;
            border-style: solid;
            box-sizing:border-box;
            font-size:16px;
            a{
                -webkit-tap-highlight-color:transparent;
                color:$burgundy;
                float:left;
                margin:0;
                padding:10px 25px 10px 25px;
                line-height:27px;
                text-decoration:none;
                width:95%;
                box-sizing:border-box;
                &.has-next-button{
                    width:calc(95% - 45px);
                }
                &.next-button{
                    text-align:center;
                    text-indent:0;
                    text-shadow:none;
                    width:45px;
                    height:48px;
                    background-color:$burgundy; 
                    float: right;
                    .arrow
                    {
                        position:relative;
                        &:after {
                            display:inline;
                            font-family: "FontAwesome";
                            content: "\f105";
                            position:absolute;
                            top:0;
                            right:-10px;
                            width:45px;
                            text-align:right;
                            background-color:transparent;
                            color:#fff;
                            font-size: 32px;
                            font-weight: bold;
                        }
                    }
                }
                &.back-button{
                    padding-left:52px;
                    position:relative;
                    &:before{
                        display:inline-block;
                        position: absolute;
                        font-family: "FontAwesome";
                        content: "\f104";
                        left: 0;
                        top:0;
                        width:45px;
                        text-align:center;
                        background-color:$burgundy;
                        font-weight: bold;
                        height: 48px;
                        font-size: 32px;
                        box-sizing: border-box; 
                        color: $white;
                        line-height: 48px;
                   }
                }
                &.active
                {
                    font-weight: 700;
                }
            }
            &:last-child>a{
                border-bottom:none
            }
            &:first-child>a{
                border-top:none
            }
             ul{
            left:100%;
            overflow:hidden;
        }
    }
    }
}
html.no-cssanimations .mobile-mega-menu{
    left:-100%
}
    nav#breadcrumbs {
        margin-top: 12px;
        margin-bottom: 20px;
        ul {
            list-style-type: none;
            display: inline;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline;
            font-size: 16px;             
            a {
                color:$black;
                line-height: 22px;
                font-size:16px;
                &:hover {
                    color: $burgundy;                                    
                }
            }
        }
        li+li:before {
            content: "\f105";
            font-family: FontAwesome;            
            padding: 0 10px;
        }
    }        

	.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 155px;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, 0.01); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	display:none;
}
