aside#members {
    background-color: $lightGrey;
    padding: 20px;
    margin-right: 51px;
    @media only screen and (max-width: 900px) {
        margin-right:0;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 600px) {
        display: none;
    }
    a {
        color: $black;
        font-weight: $semiBold;
        &:hover {
            color: $burgundy;
        }
    }
    h1.personal {
        font-size: 24px;
        font-weight: semiBold;
    }
    .webLink {
        color: $lightGrey !important;
        &:hover {
            color: $lightGrey !important;
        }
    }
}

aside#membersMobile {
    display: none;
    margin-top: 30px;
    background-color: $lightGrey;
    padding: 20px;
    @media only screen and (max-width: 600px) {
        display:block;
    }
    a {
        color: $black;
        font-weight: $semiBold;
        &:hover {
            color: $burgundy;
        }
    }
    h1.personal {
        font-size: 24px;
        font-weight: semiBold;
    }
    .webLink {
        color: $lightGrey !important;
        &:hover {
            color: $lightGrey !important;
        }
    }
}

aside#contentSidebarDesktop {
    display: inline-block;
    @media only screen and (max-width: 900px) {
        display:none;
    }
}

aside#contentSidebarMobile {
    margin-top:30px;
    display: none;
    @media only screen and (max-width: 900px) {
        display:inline-block;
    }
}

aside#contentSidebar,
aside#contentSidebarDesktop,
aside#contentSidebarMobile {
    padding-right: 51px;
    @media only screen and (max-width: 900px) {
        padding-right:0;
        margin-bottom: 20px;
    }
    .navbox {
        background-color: $lightGrey;
        padding: 20px;
        margin-bottom: 40px;
        h1 {
            padding-top: 0;
            margin-bottom: 20px;
            margin-top: 0;
            color: $burgundy;
            font-size: 28px;
            font-weight: $semiBold;
            line-height: 38px;
        }
        ul {
            margin: 0;
            list-style-type: none;
            padding-left: 0;
            li {
                padding-bottom: 5px;
                a {
                    color: $black;
                    font-weight: $semiBold;
                    line-height: 26px;
                    &:hover {
                        color: $burgundy;
                    }
                }
            }
        }
    }
    .navboxRed {
        background-color: $burgundy;
        padding: 20px;
        margin-bottom: 40px;
        h1 {
            padding-top: 0;
            margin-bottom: 20px;
            margin-top: 0;
            color: $white;
            font-size: 28px;
            font-weight: $semiBold;
            line-height: 38px;
        }
        p {
            color: $white;
            a {
                color: $white;
                font-weight: $semiBold;
                line-height: 26px;
                text-decoration: none; 
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

aside#searchSidebar {
    background-color: $white;
    margin-right: 51px;
    @media only screen and (max-width: 600px) {
        margin-top: 100px;
        margin-right: 0;
    }
    .desktoponly {
        display: inline-block;
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
    .mobileonly {
        display: none;
        @media only screen and (max-width: 600px) {
            display: inline-block;
        }
    }
    .navboxHeader {
        border-color: $lightGrey;
        border-style: solid;
        border-width: 1px;
        padding-left: 10px;
        padding-right: 10px;
        h1 {
            color: $black;
            font-weight: $semiBold;
            margin: 10px 0;
            width: calc(100% - 157px);
            display: inline-block;
            font-size: 22px;
            @media only screen and (min-width: 601px)and (max-width: 1300px) {
                width:100%;
                display: block;
            }
            @media only screen and (max-width: 600px) {
                font-size: 1em;
                color: $white;
                margin: 0;
                width: auto;
            }
        }
        @media only screen and (max-width: 600px) {
            border-radius: 3px;
            background-color: $burgundy;
            border-color: $burgundy;
            position: relative;
            line-height: 34px;
            cursor: pointer;
            &:after {
                content: "\f055";
                font-family: FontAwesome;
                font-size: 18px;
                margin-left: 10px;
                display: inline-block;
                text-decoration: none;
                position: absolute;
                right: 10px;
                top: 5px;
                color: white;
            }
            &.navCollapse {
                border-radius: 3px 3px 0 0;
                &:after {
                    content: "\f056";
                }
            }
        }
    }
    .clearSearch {
        height: 24px;
        width: 130px;
        border: 1px solid #E1E3E3;
        background-color: #FFFFFF;
        color: $burgundy;
        font-size: 18px;
        line-height: 22px;
        padding: 5px 10px;
        margin-bottom: 5px;
        font-weight: 600;
        text-decoration: none;
        display: inline-block;
        &:hover {
            color: $black;
            text-decoration: underline;
            background-color: $lightGrey;
        }
        &:before {
            content: "\f00d";
            font-family: FontAwesome;
            font-size: 18px;
            margin-right: 8px;
            display: inline-block;
            text-decoration: none;
            color: $burgundy;
            &:hover {
                text-decoration: none;
            }
            &:hover {
                &:before {
                    text-decoration: none;
                    @media only screen and (max-width: 600px) {
                        &:hover {
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }
        &.desktoponly {
            display: inline-block;
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }
        &.mobileonly {
            display: none;
            @media only screen and (max-width: 600px) {
                display: inline-block;
                float: right;
            }
        }
    }
    .pnlfilterbutton {
        width: 100%;
        border: 1px solid $lightGrey;
        box-sizing: border-box;
        padding: 10px 10px;
        display: none;
        @media only screen and (max-width: 600px) {
            display: block;
        }
        h2 {
            display: inline-block;
            width: 120px;
            font-size: 24px;
            color: $burgundy;
        }
    }
    .navbox {
        @media only screen and (max-width: 600px) {
            display: none;
            &.navCollapse {
                display: block;
                .navbox {
                    display: block;
                }
            }
        }
        .sidePanel {
            background-color: $white;
            border: 1px solid $lightGrey;
            border-top-style: none;
            margin-bottom: 0 !important;
            padding-bottom: 10px !important;
            padding: 0;
            padding-right: 10px;
            width: 100%;
            box-sizing: border-box;
            .showMore {
                color:$burgundy;
                border-style: none;
                font-size:18px;
                padding-left:20px;
                cursor: pointer;
                text-decoration: underline;
            }
            ul {
                margin: 0;
                list-style-type: none;
                padding-left: 20px;
                li {
                    padding-bottom: 5px;
                    a {
                        color: $black;
                        &:hover {
                            color: $burgundy;
                        }
                        &.navselected:after {
                            color: $burgundy;
                            content: "\f00d";
                            font-family: FontAwesome;
                            font-size: 18px;
                            margin-left: 10px;
                            display: inline-block;
                            text-decoration: none;
                        }
                    }
                }
            }
            .RefineResults {
                margin: 0;
                padding-left: 10px;
                width: 100%;
                h2 {
                    cursor: pointer;
                    padding-top: 5px;
                    margin: 0;
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: $semiBold;
                    color: $burgundy;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.navExpand:after {
                        content: "\f055";
                        font-family: FontAwesome;
                        font-size: 18px;
                        padding-left: 10px;
                        display: inline-block;
                        text-decoration: none;
                    }
                    &.navCollapse:after {
                        content: "\f056";
                        font-family: FontAwesome;
                        font-size: 18px;
                        padding-left: 10px;
                        display: inline-block;
                        text-decoration: none;
                    }
                }
            }
            @media (max-width:$screen-tablet) {
                overflow: hidden;
                margin: 0;
            }
        }
    }
}

.votes {
    aside#searchSidebar {
        @media only screen and (max-width: 600px) {
            margin-top: 0;
            margin-right: 0;
        }
    }
}

#newslanding {
    aside#contentSidebar {
        margin: 0;
        i {
            font-size: 36px;
        }
        .email {
            &:before {
                content: "\f003";
                color: $burgundy;
                display: inline-block;
                text-decoration: none;
                font-family: FontAwesome;
                font-size: 16px;
                margin-right: 10px;
                vertical-align: middle;
            }
            padding-bottom:10px;
            display: inline-block;
        }
        .phone {
            &:before {
                content: "\f095";
                color: $burgundy;
                display: inline-block;
                text-decoration: none;
                font-family: FontAwesome;
                font-size: 16px;
                margin-left: 2px;
                margin-right: 12px;
                vertical-align: middle;
            }
            padding-top:10px;
            display: inline-block;
        }
    }
}

#newsSide {
    aside#contentSidebar {
        .navbox {
            a {
                color: $black;
            }
            ul li {
                padding-bottom: 1em;
            }
        }
    }
    @media only screen and (min-width: 600px) {
        left: 0px;
        position: absolute;
    }
    @media only screen and (max-width: 600px) {
        margin-top: 2em
    }
}
.navbox
{
    .events
    {
        h2.eventdateHeader{
        background-color: #6F6E6E;
        height: 60px;
        font-size: 1em;
        padding: 10px;
        box-sizing: border-box;
        color: #fff;
        }
        .event{
            border-left: 8px solid $burgundy;
            padding: 5px 15px;
            box-sizing: border-box;
            border-bottom: 1px solid #B9B9B9;
            &.scrutiny
            {
                border-left-color: $blue;
            }
            h3{
                font-size: 18px;
                font-weight: 800;
            }
            .eventtime,.eventlocation
            {
                display: block;
                font-size: 16px;
            }
        }
    }
}