body {
    margin: 0;
} 
#accessibility, .accessibility {
    position: absolute;
    left: -999em;
}
.push-right
{
    float: right;
}

:focus  {
    background-color: $purple;
    color: $white;
    &:hover {
        color: $white;
    }
}