body {
    margin: 0;
} 
#accessibility, .accessibility {
    position: absolute;
    left: -999em;
}
.push-right
{
    float: right;
}

a:focus  {
    background-color: $purple;
    color: $white;
    &:hover {
        color: $white;
    }
}
#ToC{
    margin:1em 0 2em;
    #inthissection{
        li{
            margin-bottom: 0.5em;
        }
        margin-bottom: 1em;
    }
}
