html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;     
    font-size: 18px;
    color:$black;                    
    line-height: 24px;   
}

$bold: 700;
$semiBold: 600;

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

h1 {
    color: $black;	
    font-size: 36px;	
    font-weight: $semiBold;	
    line-height: 41px;    
}
h1.pageTitle {
    margin-top:0;
}    

h2 {
    color: $black;	
    font-size: 30px;	
    font-weight: $semiBold;	
    line-height: 41px;
    margin: 0 0;
}

h3 {
    color: $black;	
    font-size: 24px;	
    font-weight: $semiBold;	
    line-height: 33px;
    margin: 5px 0;    
}

h4 {
    color: $black;	
    font-size: 22px;	
    font-weight: $semiBold;	
    line-height: 30px;
    margin: 0 0;    
}

h5 {
    color: $black;	
    font-size: 20px;	
    font-weight: $semiBold;	
    line-height: 27px;
    margin: 0 0;    
}

p {
    font-size: 18px;	
    line-height: 28px;   
    color: $black;	    
}

a {
    color: $burgundy;
    &:hover {
        color:$black;
    }
}

a.pdf {
    &:before {
        content: "\f1c1";
        font-size: 20px;
        font-family: FontAwesome;            
        padding: 0 10px 0 0;
    }
}

a.external {
    &:after {
        content: "\f08e";
        font-family: FontAwesome;
        font-size: 18px;
        margin-left: 10px;
        display: inline-block;
        text-decoration: none;
    }
}

.bodycontent {    
    p {
        margin-top:5px;
        margin-bottom:10px;        
    }

    ul {
        list-style: none;
      }
      
      li {
        padding-left: 1em; 
        text-indent: -.7em;
        &:before {
            content: "\f111";
            color: $burgundy;
            font-family: FontAwesome;
            font-size: 8px;
            margin-right: 12px;    
            vertical-align: middle;
            display: inline-block;            
    
        }                
      }

      .contentHighlight {
          background-color: $lightGrey;
          padding: 20px 0 20px 30px;
          border-left: 10px solid $burgundy;
          margin-bottom:15px;
          margin-top:15px;          
          p {
              margin-bottom:0;
          }
          h2 {
              line-height: 24px;
              margin-bottom:5px;
          }
          /*&:nth-of-type(2)          
          { 
              display: none;          
          } */
      }
} 